.menu-body{
    background-color: aliceblue;
    border-left: 6px solid #999990;
    border-right: 6px solid #999990;
}

.menu-Top{
    padding-right: 0;
    background-color: #999990;
    color:#ffffff
}

.Link-menu{
    font-family: Arial, Helvetica, sans-serif;
    color:blanchedalmond;
}